@page
@model WebRazorTest.Pages.PizzaSaleModel
@{
    ViewData["Title"] = "Pizza Sale";
}
<h1>Pizza Sale</h1>
<div>
    <a asp-page="/Checkout/Checkout"></a>
</div>
<div>
    <a asp-page="/Forms/CustomPizza"></a>
</div>